body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow-x: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
}

.header-section, .button-section, .footer-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
}

.header-section > .container,
.header-section > .text-box,
.button-section > .container,
.footer-section > .text-box {
    flex: 1;
    min-width: 280px;
    max-width: 600px;
    margin: 10px;
    box-sizing: border-box;
}

.container, .grey-box, .text-box {
    text-align: center;
    padding: 50px;
    color: #fff;
    border-radius: 10px;
    box-sizing: border-box;
}

.container {
    background: rgba(0, 0, 0, 0.6);
}

.grey-box {
    background: url('https://media.discordapp.net/attachments/1208705442759319582/1268255216386441287/StellatusBanner_1.png?ex=66c182f6&is=66c03176&hm=098433c75d4706fbcd8b17f8ee4f8178677324a530ff40729dce5b0d3b604db0&=&format=webp&quality=lossless') no-repeat center center;
    background-size: cover;
}

.text-box {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: left;
    line-height: 1.6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, h2 {
    margin-bottom: 20px;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.grey-box button {
    background-color: #007BFF;
}

.grey-box button:hover {
    background-color: #0056b3;
}
